
{% extends 'sala/base.html' %}
{% block title %}Home{% endblock %}

{% block content%}

{{lgeneralsalas}}

<h1>Detalle de la {{lgeneralsalas.name}}</h1>

<br>

{% comment %} {% for i in lgeneralsalas %} {% endcomment %}
    <!-- Proyecto -->
    <div>   
        <div class="col-lg-7 col-md-8">
            <ul>

                <li># Sillas: {{lgeneralsalas.number_chair}}</li>
                <li><a href="/resultadopeliculasexhibidas/{{lgeneralsalas.id}}">Peliculas Exhibidas en esta {{lgeneralsalas.name}}</a></li>
            </ul>
            
        </div>
    </div>
{% comment %} {% endfor %} {% endcomment %}
{% endblock %}
