{% extends 'sala/base.html' %}
{% block title %}Home{% endblock %}

{% block content%}

<h1>Listado General de Todas Las Salas</h1>

{{lgeneralsalas}}

{% for i in lgeneralsalas %}
    <!-- Proyecto -->
    <div>   
        <div class="col-lg-7 col-md-8">
            <ul>
                <br>
                <li>Nombre de sala: {{i.name}}</li>
                <li><a href="/detalledeunasala/{{i.id}}">Ver detalle de esta sala</a></li>
            </ul>
            
        </div>
    </div>
{% endfor %}
{% endblock %}
